@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello world!</h1>
    <p>see item <a href="http://localhost:5181/birthdayitem/birthdayoverview">goto</a>.</p>
</div>